{% extends 'base.html' %}

{% block content %}

<div id="contato_jax">
    <h2 id="titulo_contato">
        Contato
    </h2>
    <h4 id="descricao_contato">
        <a href="https://www.instagram.com/projeto_jax" target="_blank" rel="noopener noreferrer"> Instagram </a> <br>
        <a href="https://discord.com/invite/qRzVyxRF" target="_blank" rel="noopener noreferrer"> Discord </a>
    </h4>
</div>

<div id="visita_jax">
    <h2 id="titulo_visita">
        Ou melhor, venha nos visitar.
    </h2>
    <h4 id="descricao_visita">
        Nossos clientes são importantes para nós. Ficaríamos contentes em receber a sua visita durante nosso horário comercial.  <br>  <br>

        Jax  <br>
        
        Araraquara, São Paulo, Brasil  <br> <br>
        
        Horas  <br>
        
        Hoje: fechado
    </h4>
</div>

{% endblock %}
