{% extends 'base.html' %}

{% block content %}
<h1>Sobre o ProjetoJAX</h1>

<div id="missao_jax">
    <h2 id="titulo_missao">
        Nossa Missão 
    </h2>
    <h4 id="descricao_missao"> 
        No JAX, nossa missão é transformar a educação no Brasil, oferecendo recursos acessíveis e de qualidade. Acreditamos que todos merecem a oportunidade de aprender e crescer, independetemente de sua situação financeira. 
    </h4>
</div>

<div id="valores_jax">
    <h2 id="titulo_valores">
        Nossos Valores
    </h2>
    <h4 id="descricao_valores"> 
        Valorizamos a Educação, a Inovação e a Tecnologia em tudo que fazemos. Esses princípios norteiam nossas ações e garantem que estamos sempre focados no melhor interesse de nossos alunos e suas famílias. 
    </h4>
</div>

<div id="equipe_jax">
    <h2 id="titulo_equipe">
        Equipe Dedicada
    </h2>
    <h4 id="descricao_equipe"> 
        Nossa equipe é composta por educadores experientes e apaixonados que se dedicam a fornecer o melhor suporte aos nossos alunos. Trabalhamos juntos para criar um ambiente de apredizado positivo e estimulante.
    </h4>
</div>

{% endblock %}
