{% extends 'base.html' %}

{% block content %}
<h1>Sobre o ProjetoJAX</h1>

<div id="objetivo_jax">
    <h2 id="titulo_objetivo">
        Objetivo
    </h2>
    <h4 id="descricao_objetivo">
        Auxiliar jovens a saírem da condição nem-nem.
    </h4>
</div>

<div id="contexto_jax">
    <h2 id="titulo_contexto">
        Contexto do ProjetoJAX
    </h2>
    <h4 id="descricao_contexto">
        De acordo com a Agência Brasil ( portal de notícias oficiais do Governo Federal do Brasil ), o número de jovens entre 14 e 24 anos na condição de que nem estudam e nem trabalham ficou em 4,5 milhões. Um recuo de 0,95% em relação ao mesmo trimestre de 2023, quando 4,8 milhões de jovens não estavam estudando nem trabalhando.

    </h4>
</div>

<div id="principios_jax">
    <h2 id="titulo_principios">
        Princípios norteadores do ProjetoJAX
    </h2>
    <img src="{{ url_for('static', filename='images/principios_jax.png') }}" alt="Principios do JAX">
</div>

<div id="missao_jax">
    <h2 id="titulo_missao">
        Nossa Missão 
    </h2>
    <h4 id="descricao_missao"> 
        No JAX, nossa missão é transformar a educação no Brasil, oferecendo recursos acessíveis e de qualidade. Acreditamos que todos merecem a oportunidade de aprender e crescer, independetemente de sua situação financeira. 
    </h4>
</div>

<div id="valores_jax">
    <h2 id="titulo_valores">
        Nossos Valores
    </h2>
    <h4 id="descricao_valores"> 
        Valorizamos a Educação, a Inovação e a Tecnologia em tudo que fazemos. Esses princípios norteiam nossas ações e garantem que estamos sempre focados no melhor interesse de nossos alunos e suas famílias. 
    </h4>
</div>

<div id="equipe_jax">
    <h2 id="titulo_equipe">
        Equipe Dedicada
    </h2>
    <h4 id="descricao_equipe"> 
        Nossa equipe é composta por educadores experientes e apaixonados que se dedicam a fornecer o melhor suporte aos nossos alunos. Trabalhamos juntos para criar um ambiente de apredizado positivo e estimulante.
    </h4>
</div>

{% endblock %}
